footer > address {
    height:100%;
    display: flex;
    justify-content: right;
    gap: 1em;
}

.footer-content-links {
    display: flex;
    align-items: center;
    color: black;
    font-size: 0.8em;
    height: 100%;

}

.footer-content-links > img {
    height: 70%;
}

@media screen and (max-width: 800px) {
    .footer-content-links {
        font-size: 0.7em;
    }  
    .footer-content-links > img {
        height: 60%;
    }
}

@media screen and (max-width: 375px) {
    .footer-content-links {
        font-size: 0.6em;
    }
    .footer-content-links > img {
        height: 50%;
    }
}
